# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environment Variables
.env

# Virtual Environment
venv/
.venv/

# SQLite database
instance/*.db

# Log files
*.log

# Docker files
*.log
docker-compose.override.yml
docker-sync.yml
.docker/

# IDE / Editor directories
.vscode/
.idea/

# Temporary files
*.tmp
*.bak
*.swp
